<div class="card">
  <div class="card-header">
    {{adNm}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a [routerLink]="['profile']" class="btn btn-primary">Profile</a>
    <a [routerLink]="['payment']" class="btn btn-primary">Payment</a>
  </div>
</div>
<div class="card">
  <div class="card-header">deatails</div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>