<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-muted">Welcome to codekul</h1>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <app-databinding></app-databinding> -->
  <!-- <div class="row">
    <div class="col-md-12">
      <app-my-first></app-my-first>
    </div>
  </div>
  <app-my-jumbo></app-my-jumbo> -->
  <!-- <app-intr-comp-com-first></app-intr-comp-com-first> -->

  <!-- <app-local-ref>
    <h1 class="text-muted" #ttl>I am outsider</h1>
  </app-local-ref>

  <app-local-ref>
      <button class="btn btn-danger"> Okay</button>.
    </app-local-ref> -->
  <!-- <app-ngb-sample></app-ngb-sample> -->
  <app-directives></app-directives>

  <!-- <app-lifecycle [dt]="'12'"></app-lifecycle> -->
  <!-- <app-services></app-services>
  <app-services></app-services>
  <app-services></app-services>
  <app-services></app-services>
  <app-services></app-services>

  <app-depndent></app-depndent> -->
</div>